body{
    background-image: url(img/19362653.jpg);
    background-size: cover;
    height: 100%;
    background-color:#7898a8;
}
.container{
    margin-left: 11%;
    position:absolute;
    top:30%;

}
#input{
   background-color:black;
   height:35vh;
   width: 25vw;
   border-radius: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 5px 7px 10px 5px black;

}
#result{
    background-color:black;
    position:relative;
    left:25%;
    top:6rem;
    color:#fff;
    width:30vw;
    border-radius: 30px;
    box-shadow: 5px 7px 10px black;
    

}
.author {
    position: fixed;
    bottom:-2%;
    left:-2%;
    width: 100%;
    padding: 10px;
    text-align:right;
    
  }
#pincode{
    font-size: 2rem;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 5px 7px 10px black;
    margin-top: 10px;
    font-style:oblique;
    color:#3235e6;
}
#submit{
    padding:8px 32px;
    position:absolute;
    left:10%;
    font-size: 1.3rem;
    font-weight: 600;
    box-shadow: 5px 7px 10px black;
}
a{
    text-decoration: none;
}
#PostOffice{
    font-weight: 500;
}

#title{
    font-weight: 800;
    font-size: 3rem;
    color:rgb(87, 48, 177);
    position: fixed;
    left:38%;
    top:1.3%;
    font-family:Damion;
    border-radius: 20px;
    padding:8px 42px;
    box-shadow: 6px 8px 7px 6px grey;
}
#data{
    text-decoration: underline;
    text-decoration-color: rgb(56, 70, 174);
}
@media (max-width:768px){
    #title{
        font-weight: 800;
        font-size: 2.4rem;
        position:relative;
        top:0;
        left:1rem;
        font-family:Damion;
        color:black;
        margin-top: 4%;
        background-color:blanchedalmond;
        box-shadow: 5px 7px 10px black;
      }
    body{
        background-image: url(img/ai.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: 40%;
       }
    #result{
            background-color:black;
            color:#fff;
            width:70vw;
            position:relative;
            left:10%;
            margin-top: 5%;
            border-radius: 30px;
            box-shadow: 5px 7px 10px black;
             }
    #input{
       background-color:transparent;
       margin-left: -5%;
       height:35vh;
       border-radius: 30px;
       display: flex;
       align-items: center;
       justify-content: center;
       box-shadow: 5px 7px 10px 5px black;
       }
       .author {
        position: fixed;
        bottom:-1%;
        left:1%;
        width: 100%;
        padding: 10px;
        text-align:right;
        font-size: 10px;
        
      }
      #submit{
        padding:8px 32px;
        position:absolute;
        left:25%;
        font-size: 1.3rem;
        font-weight: 600;
        box-shadow: 5px 7px 10px black;
        }
        #pincode{
            width:90vw;
        }
}
@media only screen and (max-width:980px){
    body{
        background-image: url(img/ai.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 40%;
    }
    #title{
        font-weight: 800;
        font-size: 2.4rem;
        position:relative;
        top:0;
        left:1rem;
        font-family:Damion;
        color:black;
        margin-top: 4%;
        background-color: blanchedalmond;
        box-shadow: 5px 7px 10px black;
      }
    #input{
            background-color:transparent;
            width:fit-content;
    }
    #result{
        background-color:black;
        color:#fff;
        position: relative;
        left:5%;
        top:5%;
        
  
    }
    .author {
        position: fixed;
        bottom:0%;
        left:1%;
        width: 100%;
        padding: 10px;
        text-align:right;
        font-size: 10px;
} 
}
